{
  "tabWidth": 2,
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "endOfLine": "auto",
  "bracketSameLine": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react(.*)",
    "<THIRD_PARTY_MODULES>",
    "^@pages/(.*)$",
    "^@components/(.*)$",
    "^@apis/(.*)$",
    "^@hooks/(.*)$",
    "^@store/(.*)$",
    "^@storage/(.*)$",
    "^@utils/(.*)$",
    "^@routes/(.*)$",
    "^@styles/(.*)$",
    "^@type/(.*)$",
    "^@constants/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true
}
