{
	"tabWidth": 2,
	"printWidth": 80,
	"singleQuote": true,
	"trailingComma": "all",
	"useTabs": true,
	"semi": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"singleAttributePerLine": true,
	"endOfLine": "auto",
	"bracketSameLine": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": [
		"^react(.*)",
		"<THIRD_PARTY_MODULES>",
		"^@pages/(.*)$",
		"^@components/(.*)$",
		"^@apis/(.*)$",
		"^@hooks/(.*)$",
		"^@types/(.*)$",
		"^@constants/(.*)$",
		"^[./]"
	],
	"importOrderSortSpecifiers": true
}
