@font-face {
  font-family: 'MabinogiClassicR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/MabinogiClassicR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #e5e5e5;
  padding: 0 80px;
}

* {
  font-family: 'MabinogiClassicR';
  color: #404040;
  font-size: 20px;
}