@font-face {
  font-family: 'MabinogiClassicR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/MabinogiClassicR.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #e5e5e5;
  height: 100%;
}

#root {
  height: 100%;
}

* {
  font-family: 'MabinogiClassicR';
  color: #404040;
  font-size: 20px;
}


#app > * {
  ::-webkit-scrollbar {
      width: 10px;
    }
  
    ::-webkit-scrollbar-track {
      background: #e5e5e5;
    }
  
    ::-webkit-scrollbar-thumb {
      background: linear-gradient(180deg,
          rgba(255, 102, 102, 0.7) 0%,
          rgba(247, 142, 97, 0.7) 16.67%,
          rgba(255, 200, 59, 0.7) 33.68%,
          rgba(120, 217, 104, 0.7) 49.83%,
          rgba(88, 208, 224, 0.7) 65.63%,
          rgba(88, 142, 224, 0.7) 82.81%,
          rgba(195, 112, 233, 0.7) 99.48%);
      border-radius: 5px;
    }
  
    ::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(180deg,
          rgba(255, 102, 102, 0.9) 0%,
          rgba(247, 142, 97, 0.9) 16.67%,
          rgba(255, 200, 59, 0.9) 33.68%,
          rgba(120, 217, 104, 0.9) 49.83%,
          rgba(88, 208, 224, 0.9) 65.63%,
          rgba(88, 142, 224, 0.9) 82.81%,
          rgba(195, 112, 233, 0.9) 99.48%);
    }
}